.main__adv {
    background-color: hsl(46, 100%, 8%);
    color: white;
    margin-bottom: var(--margin-bottom_main);
    padding: var(--padding_main);
	border-radius: var(--border-radius_main);
}

@media only screen and (min-width: 992px) {
    .main__adv {
        order: 1;
        width: 20%;
        height: 100%;
    }
}