.main {
	color: var(--text-color_main);
	font-family: var(--font-family_main);
	font-weight: var(--font-weight_main);
    display: flex;
    flex-direction: column;
}

.main > * {
    background-color: var(--background-color_main);
    margin-bottom: var(--margin-bottom_main);
    padding: var(--padding_main);
	border-radius: var(--border-radius_main);
	overflow: hidden;
}

.main__adv {
    background-color: hsl(46, 100%, 8%);
    color: white;
    text-align: justify;
}

.container > a{
    color: inherit;
    text-decoration: none;
}

.main__recom .container {
    margin-bottom: var(--margin-bottom_main);
    padding: var(--padding_main);
    border: 0.12em var(--text-color_main) solid;
    border-radius: var(--border-radius_main);
}

.main__recom .container:last-child {
    margin-bottom: 0;
}

.container__heading_upper {
    margin: 0 0 1em 0;
}

.container__heading {
    font-size: 0.9em;
    margin: 0;
    padding: 0 0 1em 0;
}

.container__text {
    font-weight: 300;
    font-size: 0.9em;
}

@media only screen and (min-width: 600px) {
    .main {
        margin: 0 9%;
        flex-direction: row;
        justify-content: space-between;
    }

    .main__adv {
        order: 1;
        width: 18%;
    }

    .main__recom {
        width: 25%;
    }

    .main__news-post {
        width: 55%;
    }
}